@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';

.addNewTeskBtn {
  @include position.absolute(auto 40px 40px auto);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 66px;
  font-size: 18px;
  color: colors.$WHITE;
  background-color: colors.$BLUE;
  border-radius: 30px;
  box-shadow: 0 10px 20px 0 rgba(colors.$BLACK, 15%);
  transition: 0.2s;

  &:hover {
    background-color: rgba(colors.$BLUE, 90%);
  }
}
