@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';

.closeBtnWrapper {
  position: absolute;
  top: 50px;
  right: 35px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid colors.$GRAYD;
    border-radius: 50%;
  }
}

.textWrapper {
  width: 280px;
  height: 60px;
  color: colors.$GRAY3;

  input {
    width: 280px;
    font-size: 25px;

    &::placeholder {
      font-size: 25px;
      color: colors.$GRAY6;
    }
  }
}

.selectedWrapper {
  width: 280px;
  height: 440px;

  .selectedBtnsWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;

    button {
      position: relative;
      width: 280px;
      height: 50px;
      padding-left: 50px;
      margin-bottom: 10px;
      font-weight: 600;
      color: colors.$GRAY6;
      text-align: left;
      border: 3px solid colors.$GRAYE;
      border-radius: 35px;

      .cateGoryCircle {
        position: absolute;
        left: 20px;
        width: 18px;
        height: 18px;
        border: 3px solid colors.$TASKS_TITLE;
        border-radius: 50%;
      }
    }
  }

  .selectedListWrapper {
    width: 280px;
    height: 300px;

    .box {
      width: 280px;
      height: 280px;
      border-radius: 35px;
      box-shadow: 0 5px 10px 0 rgba(colors.$BLACK, 8%);

      .addCategoryBtn {
        display: flex;
        align-items: center;
        width: 280px;
        height: 50px;
        padding: 10px;
        font-size: 13px;
        color: colors.$GRAY6;
        text-align: left;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;

        .addIcon {
          width: 11px;
          margin-left: 20px;
        }

        span {
          margin-left: 10px;
        }
      }

      .form {
        display: flex;
        align-items: center;
        width: 260px;
        height: 50px;
        padding: 10px;
        margin-left: 20px;

        .addCategoryColor {
          width: 15px;
          height: 15px;
          background-color: colors.$TASKS_TITLE;
          border-radius: 50%;
        }

        input {
          width: 170px;
          margin-left: 10px;
          font-size: 15px;
          color: colors.$GRAY6;

          &::placeholder {
            font-size: 15px;
          }
        }

        button {
          width: 20px;
          // margin-left: 5px;
          color: colors.$GRAY6;
        }
      }

      .categoryList {
        width: 280px;
        height: 215px;
        overflow-x: scroll;

        li {
          display: flex;
          align-items: center;
          width: 280px;
          height: 40px;
          padding: 0 10px;

          input {
            width: 15px;
            height: 15px;
            margin-left: 20px;
            -webkit-appearance: none;
            -moz-appearance: none;
            border-radius: 50%;

            &:checked {
              width: 15px;
              height: 15px;
              margin-left: 20px;
              background-color: rgb(25, 118, 248);
              -webkit-appearance: none;
              -moz-appearance: none;
              border: none;
              border-radius: 50%;
            }
          }

          label {
            margin-left: 10px;
            font-size: 15px;
            color: colors.$GRAY6;
          }
        }
      }
    }
  }
}

.addNewTeskBtn {
  @include position.absolute(auto 40px 40px auto);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 66px;
  font-size: 18px;
  color: colors.$WHITE;
  background-color: colors.$BLUE;
  border-radius: 30px;
  box-shadow: 0 10px 20px 0 rgba(colors.$BLACK, 15%);
  transition: 0.2s;

  &:hover {
    background-color: rgba(colors.$BLUE, 90%);
  }
}
