@use '/src/styles/constants/colors';

.closeBtnWrapper {
  position: absolute;
  top: 50px;
  right: 35px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid colors.$GRAYD;
    border-radius: 50%;
  }
}
