@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.tasksTitle {
  margin: 30px 0 24px;
  font-size: 12px;
  font-weight: 600;
  color: colors.$TASKS_TITLE;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
