@use "/src/styles/constants/colors";
@use "/src/styles/constants/levels";
@use "/src/styles/mixins/flexbox";
@use "/src/styles/mixins/position";

.modal {
  z-index: 99;
  display: none;
  @include position.middleBox;
  width: 360px;
  height: 720px;
  padding: auto 40px 40px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 60px;

  button {
    cursor: pointer;
    border: 0;
    outline: none;
  }

  .outerModal {
    width: 90%;
    max-width: 250px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    background-color: colors.$WHITE;
    border-radius: 0.3rem;
    animation: modalShow 0.3s;

    .innerModal {
      position: relative;
      padding: 30px 20px;
      font-weight: 700;

      .close {
        position: absolute;
        top: 10px;
        right: 15px;
        width: 30px;
        font-size: 21px;
        font-weight: 700;
        color: colors.$GRAY6;
        text-align: center;
        background-color: transparent;
      }
    }

    .main {
      padding: 16px;
    }

    .close {
      padding: 6px 12px;
      font-size: 13px;
      color: colors.$WHITE;
      background-color: colors.$GRAY6;
      border-radius: 5px;
    }
  }
}

.openModal {
  display: flex;
  align-items: center;
  animation: modalBgShow 0.3s;
}

@keyframes modalShow {
  from {
    margin-top: -50px;
    opacity: 0;
  }

  to {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes modalBgShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.formStyle {
  position: relative;

  .colorButtons {
    z-index: 10000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .colorPalette {
      width: 28px;
      height: 28px;
      border-radius: 50%;
    }

    .colorPicker {
      width: 28px;
      height: 28px;
      border-radius: 50%;
    }

    :nth-child(1) {
      background-color: colors.$RED;
    }

    :nth-child(2) {
      background-color: colors.$ORANGE;
    }

    :nth-child(3) {
      background-color: colors.$YELLOW;
    }

    :nth-child(4) {
      background-color: colors.$GREEN;
    }

    :nth-child(5) {
      background-color: colors.$BLUE;
    }

    :nth-child(6) {
      background-color: colors.$PURPLE;
    }
  }

  .categoryName {
    font-size: 1rem;
    color: colors.$BLACK;
    border-bottom: 1px solid colors.$BLACK;
  }

  .submitButton {}
}

.picker {
  position: relative;
  display: inline-block;

  .swatch {
    width: 28px;
    height: 28px;
    cursor: pointer;
    border: 1px solid #666666;
    border-radius: 50%;
  }

  .popover {
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 9px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
}