@use '/src/styles/constants/colors';

.categoryBtn {
  position: relative;
  width: 280px;
  height: 50px;
  padding-left: 50px;
  margin-bottom: 10px;
  font-weight: 600;
  color: colors.$GRAY6;
  text-align: left;
  border: 3px solid colors.$GRAYE;
  border-radius: 35px;

  .cateGoryCircle {
    position: absolute;
    left: 20px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
  }
}
