@use '/src/styles/constants/colors';

.emptyTask {
  display: flex;
  align-items: center;
  height: 55px;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 600;
  line-height: 72px;
  color: colors.$TASKS_TITLE;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background-color: colors.$WHITE;
  border-radius: 32px;
  box-shadow: 0 10px 20px 0 rgba(colors.$BLACK, 2%);
}
